* {
    font-family: "Helvetica Neue", sans-serif;
}
/* Общие стили */
html, body, footer {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    color: #fff;
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}
.logo img {
    width: 300px;
    height: auto;
}
.btnPurp {
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 3px solid #7B00FF;
    padding: 10px 25px;
    border-radius: 83px;
    margin-left: 20px;
    cursor: pointer;
}

.btnBlack {
    color: #fff;
    text-decoration: none;
    background-color: black;
    border: 3px solid black;
    padding: 10px 25px;
    border-radius: 83px;
    margin-left: 20px;
    cursor: pointer;
}

.btn {
    color: black;
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 25px;
    border-radius: 83px;
    margin-left: 20px;
    cursor: pointer;
}

.btn:hover {
    border: 3px solid #F39237;
}

.btnBlack:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
}

.btnPurp:hover {
    color: white;
    background-color: #7B00FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    transition: transform 0.3s ease;
}

nav ul li:last-child {
    margin-right: 0;
}
nav ul li:first-child {
    margin-right: 60px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;

}

nav ul li:hover {
    transform: translateY(-3px);
}


main {
    padding: 20px 60px 20px 60px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #7B00FF;
    height: 100px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.social a img  {
    width: 30px;
    height: auto;
}
.social a:nth-child(n+2){
    margin-left: 30px;
}

.contact-info {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 70px;
    border-left: 2px solid white;

}

.contact-info p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 70px;
    color: white;
}