.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Выравниваем по вертикали по центру */
}

.card {
    width: 100%; /* Ширина карточки */
    max-width: 400px; /* Максимальная ширина карточки */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}